```zsh
> neofetch
```

<img align="left" src="https://c.tenor.com/rbx3ph5SLRUAAAAi/pikachu-pokemon.gif" alt="pikachu waving" width="320" /> 

```csharp
taymazturkmen@github
-------------------------
OS: Arch Linux x86_64
Shell: zsh 5.8
Pronouns: He/Him
Location: Brunswick,Germany
Languages: Java, Python,
           HTML, CSS
Learning: Node.js, PostgreSQL,
          C, CPP
Hobbies: Cybersecurity, Cooking, Gaming, Music
Commits: {{ totalCommitsInPastYear }}
Stars: {{ totalStars }}
Discord: Taymaz#1002
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>
